@tailwind base;
@tailwind components;
@tailwind utilities;

  

:root {
  font-family: "Urbanist", serif;
  scrollbar-width: thin !important;
}

.scroll-thin {
  scrollbar-width: thin !important;
}

.max-w-8xl {
  max-width: 1780px;
}

.rotating {
  animation: rotation 10s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  box-shadow: none;
}

.button::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: #0d0239;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.4s ease-out;
}

.button:hover {
  cursor: pointer;
}

.button:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.slide::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: #0000008a;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.4s ease-out;
}

.slide:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.title {
  @apply md:text-5xl text-4xl text-fif font-bold tracking-wide;
}

.Button {
  @apply px-4 py-1.5 border rounded-sm font-bold tracking-wide text-lg border-tertiary bg-tertiary text-white  hover:bg-white hover:text-tertiary duration-200 focus:translate-y-0.5 cursor-pointer disabled:cursor-not-allowed disabled:hover:bg-tertiary disabled:hover:text-white disabled:opacity-60;
}

.loader {
  @apply animate-spin border-[6px] border-black/20  border-t-tertiary  rounded-full;
}

.swiper-transition {
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shake {
  animation: shake 1s;
  animation-iteration-count: 1;
}

@keyframes shake {
  10% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(3px);
  }
  30%,
  50% {
    transform: translateX(-5px);
  }
  40%,
  60% {
    transform: translateX(5px);
  }
}
