@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Urbanist", serif;
}

.max-w-8xl {
  max-width: 1780px;
}

.rotating {
  animation: rotation 10s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  box-shadow: none;
}

.button::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: #0d0239;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.4s ease-out;
}

.button:hover {
  cursor: pointer;
}

.button:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.slide::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background-color: #0000008a;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.4s ease-out;
}

.slide:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.title {
  @apply text-5xl text-fif font-bold tracking-wide;
}

.Button {
  @apply px-4 py-1.5 border rounded-sm font-bold tracking-wide text-lg border-tertiary bg-tertiary text-white  hover:bg-white hover:text-tertiary duration-200 focus-within:translate-y-0.5 cursor-pointer disabled:cursor-not-allowed disabled:hover:bg-tertiary disabled:hover:text-white disabled:opacity-60;
}

.loader {
  @apply animate-spin border-[4px] border-white/20  border-t-white/90  rounded-full;
}
